.project {
  position: relative;
}

.imgContainer {
  flex: 0.85;
}

.markedProjectTitle {
  position: absolute;
  right: 0;
  top: 25%;
  z-index: 999;
}

.single {
  width: 50%;
}

.mark {
  position: absolute;
  background-color: #ff0;
  width: 100%;
  height: 75%;
  top: 50%;
  left: -10%;
  z-index: -1;
  /* animation-name: mark;
  animation-duration: 1s; */
}
.grid {
  display: grid;
}
@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 2rem;
    width: 100%;
  }
}
/* @keyframes mark {
  from {
    width: 0;
  }
  to {
    width: 100%
  }
} */
